<%- include('./partials/header') %> <%- include('./partials/navbar') %> <%-
include('./partials/messages') %> <%- include('./partials/carousel') %>

<section class="backdesign">
    <img src="/images/background.jpeg" alt="" />
    <h2 class="text-center pt-4 qwe">We handle</h2>
    <!-- <div class="col-md-12"> -->
        <button class="btn btn-primary col-lg-3 mx-5">Health Emergencies</button>
        <button class="btn btn-danger col-lg-4">Fire Emergencies</button>
        <button class="btn btn-danger col-lg-3 mx-5">Accident Emergencies</button>
    <!-- </div> -->
    <!-- <div class="row py-3 ">
    <div class="col-md-1  "></div>
    <button class="btn btn-danger col-md-3 mx-3">
        Health Emergencies
    </button>
    <button class="btn btn-info col-md-3 mx-3">Fire Emergencies</button>
    <button class="btn btn-danger col-md-3 mx-3">
        Road Accident Emergencies
    </button>
    </div> -->
</section>


<section class="my-3">
    <div class="banner-text col-lg-12">
    <a href="/message" class="alert-link" style="text-decoration: none;">
    <div class="alert alert-danger text-center" role="alert"><i class="fa fa-share-square-o"></i> Report An Emergency</div>
    </a>
    </div>
</section>

<div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Health Emergencies Care Tips
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <h5> Bleeding</h5>
              <li>Someone has injured themselves and the bleeding will not stop.</li>
              <h5>Breathing difficulties</h5>
              <li>Someone is having problems breathing – for example, 
                  <li>having an asthma attack or an allergic reaction to something, this is known as anaphylaxis.</li>
            </li>
            <h5>Heart attack</h5>
            <li>This is where a person, usually an adult has a blood clot causing a blockage in the artery in the heart; 
              <li> if this is not treated the heart could stop working.Signs to look out for are: Chest pain
                <li> in the other parts of the body –it can feel as if the pain is travelling </li>
                <li>from your chest to your arms (usually the left arm is </li>
                <li>affected, but it can affect both arms), jaw, neck, back and abdomen </li>
                <li>feeling lightheaded or dizzysweating</li>
                <li>Shortness of breath Feeling sick (nausea) or being sick (vomiting)</li>
                <li>an overwhelming sense of anxiety(similar to having a panic attack)</li>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Fire Emergencies Care Tips
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <h5>Top Tips for Fire Safety</h5>
              <li>Install smoke alarms on every level of your home, inside bedrooms and outside sleeping areas.</li>
              <li>Test smoke alarms every month.</li>
              <li>Talk with all family members about a fire escape plan and practice the plan twice a year.</li>
              <li>If a fire occurs in your home, GET OUT, STAY OUT and CALL FOR HELP.</li>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Road Emergencies Care Tips
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <h5 style="color: blue;">How To Survive  Driving Emergencies</h5>
              <li style="color: blue;">The Accident You Don't See Coming</li>
              <p>The best way to survive an accident is not to get into one. Start by accepting responsibility for everything that happens when you're in the driver seat</p>
              <li style="color: blue;">"Invisible" Pedestrians, Motorcycles and Small Vehicles</li>
              <p>Approximately 36 percent of crashes involved </br>a vehicle that was turning or crossing an intersection, 
                  according to statistics from the National Highway Traffic Safety Administration (NHTSA). </p>
              <li style="color: blue;">Running off the Road</li>
              <p>About a quarter of fatal crashes are single-vehicle accidents, according to the National Highway</br>
                   Traffic Safety Administration. Of those, about 70 percent happen when drivers run two wheels off </br>
                   the pavement and, in a panic, over-correct. </p>
            </div>
          </div>
        </div>
      </div>
<!-- <section>
        <div class="row">
        <div class="col-md-4 ml-3">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
              quia praesentium voluptatem qui placeat ea, eius tenetur culpa
              inventore, vel provident doloribus quisquam? Totam, iure alias
              tenetur quia aliquid eveniet!
            </p>
          </div>
          <div class="col-md-5" style="border: 2px solid white;"></div>
          
        </div>
      </section> -->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title text-center h1">OUR TEAM</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/callOut.jpeg" alt="card image"></p>
                                    <h3 class="card-title">Abdulrasheed Sadiq</h3>
                                    <h5 class="card-text"><em>Analyst,</em> E-Response</h5>
                                    <p class="card-text">"A Long Successful Journey Starts With A Little Determined Begining"</p>
                                    <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                                    <div class="card">
                                <div class="card-body text-center mt-4">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/callOut.jpeg" alt="card image"></p>
                                    <h3 class="card-title">Kwis Lawrence Francis</h3>
                                    <h5 class="card-text"><em>Software Developer,</em> E-Response</h5>
                                    <p class="card-text">"A Long Successful Journey Starts With A Little Determined Begining"</p>
                                    <div class="card">
                                <div class="card-body text-center mt-4">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/callOut.jpeg" alt="card image"></p>
                                    <h3 class="card-title">Moses Yiba</h3>
                                    <h5 class="card-text"><em>UX/UI Designer,</em> E-Response</h5>
                                    <p class="card-text">"A Long Successful Journey Starts With A Little Determined Begining"</p>
                                    <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                                    <div class="card">
                                <div class="card-body text-center mt-4">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 my-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/callOut.jpeg" alt="card image"></p>
                                    <h3 class="card-title">Tadok Shakakam</h3>
                                    <h5 class="card-text"><em>,</em> E-Response</h5>
                                    <p class="card-text">"A Long Successful Journey Starts With A Little Determined Begining"</p>
                                    <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                                    <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                                    <div class="card">
                                <div class="card-body text-center mt-4">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4 my-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/callOut.jpeg" alt="card image"></p>
                                    <h3 class="card-title">Comfort Jatau</h3>
                                    <h5 class="card-text"><em>Front-End Developer,</em> E-Response</h5>
                                    <p class="card-text">"A Long Successful Journey Starts With A Little Determined Begining"</p>
                                    
                                    <div class="card">
                                <div class="card-body text-center mt-4">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4 my-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/callOut.jpeg" alt="card image">
                                        <h3 class="card-title">Jack Geofrey</h3>
                                    <h5 class="card-text"><em>front-End Developer,</em> E-Response</h5>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>  -->
                                    <div class="card">
                                <div class="card-body text-center mt-4">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->

<%- include('./partials/footer') %>
